 .u-section-1 {
  min-height: 745px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 405px auto 60px calc(((100% - 1140px) / 2) + 360px);
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 669px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 410px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 716px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 467px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 686px;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 360px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 618px;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 402px);
  }
} .u-section-2 {
  min-height: 394px;
  background-image: none;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: 50px auto 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 274px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  margin: 79px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 19px 60px 0;
}

.u-section-2 .u-video-1 {
  min-height: 274px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 412px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-top: 68px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 226px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-video-1 {
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 378px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
    margin-top: 31px;
    margin-bottom: 39px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 540px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 34px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 25px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 589px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 3px;
    margin-bottom: 0;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 22px 43px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 16px;
    margin-left: 7px;
    margin-right: 7px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 600px;
}

.u-section-3 .u-text-1 {
  width: 214px;
  margin: 24px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 0 auto;
}

.u-section-3 .u-slider-1 {
  min-height: 417px;
  height: auto;
  margin-top: 24px;
  margin-bottom: 0;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-3 .u-image-1 {
  background-image: url("images/jason-briscoe-GliaHAJ3_5A-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-3 .u-image-2 {
  background-image: url("images/mark-champs-Id2IIl1jOB0-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-3 .u-image-3 {
  background-image: url("images/spacejoy-umAXneH4GhA-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-3 .u-carousel-control-1 {
  width: 50px;
  height: 50px;
}

.u-section-3 .u-carousel-control-2 {
  width: 50px;
  height: 50px;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 24px auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-top: 25px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 25px;
  }

  .u-section-3 .u-slider-1 {
    margin-top: 36px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 36px;
    margin-bottom: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 620px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 36px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 11px;
    margin-left: 162px;
  }

  .u-section-3 .u-slider-1 {
    margin-top: 11px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 22px;
    margin-bottom: 36px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    margin-left: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-top: 24px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
    margin-top: 0;
  }

  .u-section-3 .u-slider-1 {
    margin-top: 24px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 24px;
    margin-bottom: 24px;
  }
}